html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
body{
    max-width: 1480px;
    min-width: 200px;
    margin: 0 auto;
    background: url("../img/BlurredBackgrounds(2300x1500).jpg") no-repeat;
    background-size: 100%;
}

header {
    width: 100%;
    background-color: black;
    height: 50px;
    line-height: 50px;
}
header .layout-wrap > a{
    line-height: 60px;
}
.layout-wrap{
    width: 80%;
    margin: 0 auto ;
}
.search-box{
    float: right;
}
.search-box>input{
    min-width: 100px;
    height: 25px;
    direction: rtl;
}
header{
    clear:both;
}
.layout-wrap{
    background-color: rgba(0,0,0,0.2);
}
.notifications{
    background: blue;
    height: 30px;
}

nav{
    height: 170px;
}

nav > div{
    background: no-repeat 50% 70px;
}
nav > div:nth-child(1){
    background-image: url("../img/action-report-new.png");
}
nav > div:nth-child(2){
    background-image: url("../img/action-report-top.png");
}
nav > div:nth-child(3){
    background-image: url("../img/actions-help.png");
}

.nav-section{
    display: inline-block;
    background-color: black;
    cursor: pointer;
    position: relative;
    width: 31.2%;
    height: 150px;
    margin: 0.94%;

}
.nav-section > p{
    color: white;
    font-size: 24px;
    text-align:center;
    margin-bottom: 60px;
    margin-top: 10px;
}
.menu-hint > p{
    background-color: white;
    position: relative;
    padding: 5px 16px;
}

.menu-hint > p::after{
    content: " ";
    display: inline-block;
    border-top: 8px solid black;
    border-right: 8px solid transparent;
    border-left: 8px  solid transparent;
    position: absolute;
    right: 20px;
    top: 10px;
    transition: 1s;
}
.action-list {
    background-color: white;
    position: absolute;
    display: none;
    list-style-type: none;
    text-decoration: none;
    width: 100%;
    margin-top: -16px;
    padding-left: 16px;
    z-index: 10;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5)
}
.nav-section:hover .action-list {
    display: block;
}
.nav-section:hover .menu-hint > p::after{
    transform:  rotate(180deg);
}

/*li:hover  {
    background-color: yellow;
}*/



/* ////////////////   TABS List  ////////////////////////*/
.tabs{
    position: relative;
}

.tabs > ul{
    list-style-type: none;
    text-decoration: none;
    padding-left: 0px;
    margin-bottom: 0px;

}
.tabs > ul > li{
    display: inline-block;
    width: 24.71%;
    text-align: center;
    height: 40px;
    padding: 5px;
    line-height: 30px;
    cursor: pointer;
   /* background: transparent;*/
}

.tabs > ul > li > a{
    text-decoration: none;
}

.tabs > div:target {
    display: inline-block;
}

.tabs > div{
    width: 100%;
    display: none;
    position: absolute;
    background-color: rgba(235,235,235,1);
}
.tabs > div > div {
    padding: 10px;
}


/*//////////////////////////       TABS        //////////////////////*/
/*#quick-reports{
    background: rgba(235,235,235,0.5);
}*/



/*   ul  */
.reports-list{

    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0px;
}
/*.web-list-div{

}*/


/*   li   */
.reports-input{
    background-color: rgba(0,0,0,0.09);
    margin: 10px;
    padding: 10px 30px;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.5);
}

.reports-list > li:first-child{
    clear: both;
    height: 30px;
}

.web-list{
    display: none;
}

.reports-list:nth-child(2){
    margin-top: 20px;
}


.setting-tab{
    float: right;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: white;
}

.setting-tab > img {
    margin: 2px;
}

.reports-list > li:last-child{
    clear: both;
}

.submit-button{
    float: right;
    margin-right: 10px;
    width: 70px;
    height: 30px;
    border-radius: 4px;
    background: black;
    color: white;
}

.submit-button:hover{
    background: #0F0F0F;
}

.reports-input > span{
    display: inline-block;
    margin-right: 80px;
}

.reports-input > label{
    margin: 0px 20px 0px 40px;
}

.reports-input > input {
    width: 300px;
    padding: 5px;
}

.action-reports-list{
    position: relative;
    height: 250px;
    padding-top: 20px;
    background: white;
}

.iframe-style{
    width: 100%;
    height: 450px;
}

#fmy-folders{

}
#my-team-folders{

}
#public-folders{

}